@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.honk-titulo {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

.ojuju-textoGeneral {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/*Mobile First*/


body{
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#titulo{
    text-align: center;
    font-family: Honk;
    color: rgb(158, 158, 145);
    background-color: #4a494980;
    font-size: 3em;
    margin: 0;
}

#breakLine {
    margin-left: 5%;
    width: 90%;
}

#endLine {
    width: 150px;
}

img {
    width: 50vw;
    height: 30vw;
    display: block;
}

p {
    color: whitesmoke;
    font-family: Ojuju;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-family: Honk;
    text-align: center;
}

h2 {
    font-family: Honk;
    width: 100%;
    text-align: center;
    color: #333;
}


nav{
    padding: 1.4%;
    background-color: #41141499;
    font-family: Madimi One;
    text-underline-offset: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    height: 30px;
}

#logo img {
    width: 8vw; 
}

#logo :hover{
    background-color: #ffffff00;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px 0px 15px 0px;
}

#espaciado {
    height: 20vh;
}

#niveles {
    text-align: center;
}

#div_flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas: 
    "titulo-africa titulo-africa"
    "foto-africa descripcion-africa"
    "titulo-popo titulo-popo"
    "foto-popo descripcion-popo"
    "titulo-tartaria titulo-tartaria"
    "foto-tartaria descripcion-tartaria"
    ;
}

#div_flex p, img {
    padding: 1vw;
}

#tituloAfrica {
    grid-area: titulo-africa;
}
#descripcionAfrica {
    grid-area: descripcion-africa;
}
#fotoAfrica {
    grid-area: foto-africa;
}
#tituloPopocatepetl {
    grid-area: titulo-popo;
}
#descripcionPopocatepetl {
    grid-area: descripcion-popo;
}
#fotoPopocatepetl {
    grid-area: foto-popo;
}
#tituloTartaria {
    grid-area: titulo-tartaria;
}
#descripcionTartaria {
    grid-area: descripcion-tartaria;
}
#fotoTartaria {
    grid-area: foto-tartaria;
}

#contacto {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-image: linear-gradient(rgba(56, 56, 56, 0), rgb(158, 156, 112), rgba(56, 56, 56, 0));
    text-align: center;
}

/* #contacto li{
    font-family: Lato;
    font-size: 1.6em;
    padding: 2vw;
    margin-left: 13vw;
} */

/* #contacto a{
    font-family: Lato;
    color: rgba(8, 8, 252, 0.668);
} */

#requisitos {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(173, 171, 122);
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#controles {
    background-image: linear-gradient(rgba(56, 56, 56, 0), rgb(158, 156, 112) 80%, rgba(56, 56, 56, 0));
    padding: 20px;
    list-style-type: none;
}

#controles li {
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="email"], textarea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #565bf5;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer{
    background-color:rgba(38, 38, 38, 0.873);
    color: whitesmoke;
    margin: 0%;
    padding: 2%;
}

footer p {
    text-align: center;
}